/* SubscriptionPage.css */
.subscription-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background: linear-gradient(to bottom, #000, #1a2a6c);
  min-height: 100vh;
  color: white;
}

.subscription-title {
  font-size: 4rem;
  margin: .0px;
  margin-bottom: 120px;
  font-family: 'pkmaehongson';
}

.plans-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 1000px;
  gap: 20px;
}

.plan-card {
  height: 400px;
  background: white;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  color: #333;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  width: 30%;
}

.plan-card:hover {
  transform: translateY(-10px);
  background: #ffe7c2;
  box-shadow:  0 0 18px #FFA726;
}

.plan-duration {
  font-size: 2.5rem;
  margin-bottom: 10px;
  font-family: 'pkmaehongson';
}

.plan-price {
  font-size: 2.5rem;
  margin-bottom: 20px;
  font-family: 'pkmaehongson';
}

.plan-description, .plan-duration-description {
  font-size: 1.1rem;
  margin: 10px 0;
  font-family: 'pkmaehongson';
}

.choose-plan-button {
  margin-top: 110px;
  background-color: #ff5851;
  color: white;
  border: none;
  padding: 15px 30px;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: 'pkmaehongson';
}

.choose-plan-button:hover {
  background: #ffbb56;
  box-shadow:  0 0 18px #FFA726;
}

.return-button {
  margin-top: 30px;
  padding: 10px 20px;
  background: none;
  border: 2px solid white;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.return-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}


/* =================================================================================================*/
/* subscription.css */

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  color: #000;
  background: white;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  width: 600px;
}

.close-button {
  background-color: #ff5851;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.close-button:hover {
  background-color: #e94b45;
}

.payment-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 15px;
  margin-right: 15px;
  transition: 0.5s;
}

.payment-button:hover {
  background: #ffbb56;
  box-shadow:  0 0 18px #FFA726;
  
}








/* สำหรับ Popup ของอนิเมชั่นชำระเงินสำเร็จ */
.success-popup-content {
  color: #000;
  background: white;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  width: 300px;
}

.success-checkmark {
  font-size: 4rem;
  color: #4CAF50;
  animation: popUp 0.5s ease-in-out;
}

/* อนิเมชั่นแสดงผลแบบเด้ง */
@keyframes popUp {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}


  .imgPayment {
    margin: 5px;
    width: 230px;
    height: 130px;
    box-shadow:  0 0 18px #00000022;
    border-radius: 15px;
    transition: all,0.3s;
  }

  .imgPayment:hover{
    width:240px;
    height: 140px;
  }


  .popup-image {
    width: 300px;
    height: 450px;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  @font-face {
    font-family: pkmaehongson;
    src: url(../src/PK-Maehongson-Medium.ttf);
  }
  