/* ทำให้ container เต็มหน้าจอ */
.forget-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom,#403ECC , #192546,#000000 );
}

/* ปรับให้กล่องลืมรหัสผ่านมีขนาดตามที่ต้องการ */
.forget-box {
    text-align: center;
    width: 300px;
    padding: 40px;/*
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    */
}

/* ส่วนของ h2 */
h2 {
    margin-bottom: 30px;
    font-size: 24px;
    color: black;
}

/* ปรับช่องกรอกข้อมูล 
.input-field {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}*/

/* ปุ่มยืนยัน */
.confirm-button {
    width: 70%;
    padding: 10px;
    background-color: #ffc107;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 20px;
    margin-top: 20px;
}


