.CommentContener {
    transition:  0.3s ease-in-out;
    width: 450px;
    min-height: 250px;
    height: auto;
    background: linear-gradient(to right, #dee4ff,#5654C0, #080129);
    box-shadow: 0px 0px 40px #000000;
    position: fixed;
    right: 0px;
    top: 20%;
    border-radius: 10px 0px 10px 10px;
    padding: 30px;
    font-family: pkmaehongson;
    font-size: 30px;
}

.CommentContenerWatch{
    transition:  0.3s ease-in-out;
    width: 450px;
    min-height: 250px;
    height: auto;
    background: linear-gradient(to right, #dee4ff,#d5d1dd, #080129);
    box-shadow: 0px 0px 40px #000000;
    position: fixed;
    right: 0px;
    top: 20%;
    border-radius: 10px 0px 10px 10px;
    padding: 30px;
    font-family: pkmaehongson;
    font-size: 30px;
}

.BtnComment {
    position: fixed;
    right: 20px;
    width: 10px;
    height: 80px;
    top: 45%;
    background-color: rgb(255, 76, 76);
    border-radius: 20px 0 0 20px;
    font-size: 15px;
    margin: 0px;
    z-index: 1000;
    transition:  0.3s ease-in-out;
}
.BtnComment:hover {
    box-shadow: 0px 0px 40px #e30000;
}

.textComment {
    visibility: hidden;
    opacity: 0;
    font-size: 16px;
    font-family: pkmaehongson;
    color: cornsilk;
    position: absolute;
    right: 15px;
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.388);
    padding: 5px 15px;
    border-radius: 20px 0px 20px 20px;
    transition:  0.3s ease-in-out;
}
.BtnComment:hover .textComment{
    visibility: visible;
    opacity: 1;
}

@font-face {
    font-family: pkmaehongson;
    src: url(../src/PK-Maehongson-Medium.ttf);
  }