html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #17153b;
  /*font-family: Arial, sans-serif;*/
  overflow-x: hidden; /* ป้องกันการเลื่อนแนวนอน */
  scrollbar-width: none;
}

.app {
  display: flex;
  min-height: 100vh; /* ปรับเป็น min-height เพื่อรองรับการเลื่อนหน้า */
  background: linear-gradient(to right, #1C1C1C, #030334); /* ย้ายพื้นหลังมาไว้ที่นี่เพื่อคลุมทั้งหน้า */
}

.sidebar {
  width: 210px;
  background: linear-gradient(to bottom, #5654C0, #040312);
  padding: 20px;
  position: fixed; /* เปลี่ยนเป็น fixed เพื่อให้ Sidebar ตรึงอยู่กับหน้าจอ */
  height: 95%; /* ให้ Sidebar มีความสูงเต็มหน้าจอ */
  transition: width 0.8s, transform 0.8s;
  z-index: 1000; /* เพื่อให้ Sidebar อยู่ด้านหน้าเสมอ */
  border-radius: 0px 15px 15px 0px;
}

.sidebar.hidden {
  transform: translateX(-100%);
  width: 0;
  padding: 0;
}

.toggle-button {
  position: absolute;
  top: 20px;
  right: -40px;
  background-color: #5654C0;
  padding: 5px;
  border-radius: 0px 15px 15px 0px;
  cursor: pointer;
}

.sidebar  {
  
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  font-family: 'pkmaehongson';
}
/*=============================================================================================*/
.sizeMenu {
  text-decoration: none;
  font-size: 25px;
  padding: 5px;
  color: #ffffff;
  transition: 0.5s;
  font-family: 'pkmaehongson';
}

.sizeMenu:hover {
  text-decoration: none;
  border-radius: 10px;
  background-color: #9E9EE2;
  font-family: 'pkmaehongson';
  color: #FFA726;
  
}

/*=============================================================================================*/
.logo {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #ffffff;
  font-family: 'pkmaehongson';
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
}

.sidebar nav ul li {
  margin: 20px 0;
  cursor: pointer;
}

a {
  text-decoration: none;
}
.sidebar nav ul li.subscribe {
  background-color: #FFA726;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  margin-left: 270px; /* ปรับเพื่อให้ Main Content อยู่ทางขวาของ Sidebar */
  transition: margin-left 0.8s;
}

.main-content.expanded {
  margin-left: 0;
}

header {             /*top*/
  display: flex;
  position: fixed;
  justify-content: space-between;
  margin-bottom: 20px;
  

  
}

.search-bar {/* ช่อง ค้นหา*/
  flex-grow: 1;
  background-color: #282780;
  padding: 10px;
  border-radius: 20px;
  width: 400px;
  border: none;
  outline: none;
  box-shadow: 0 0px 30px #00000077;
  margin-left: 30px;
  color: #ffffff;
  font-family: pkmaehongson;
  font-size: 19px;
}

.search-button {
  background-color: #b1b0e4;

  border: none;
  padding: 10px 20px;
  margin-left: 10px;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 0px 30px #00000077;

}

.movies h1 {
  margin-bottom: 20px;
  margin-top: 50px;
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  margin-bottom: 20px;
}

.movie-card {
  background-color: #FFE2BF;
  padding: 0%;
  border-radius: 10px;
  text-align: center;
  transition: 0.5s;
}

.movie-card img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.movie-card:hover {
  box-shadow: 0 0px 30px #FFE2BF;
  outline: none;
  padding: 2%;
}

.titile {
  color: #ffffff;
  font-size: 44px;
  font-family: 'pkmaehongson';
}


.PosterBIG img {
  display: inline-block;
  margin-top: 50px;
  background-color: #FFE2BF;
  padding: 0%;
  border-radius: 10px;
  text-align: center;
  width: 1480px;
  height: 350px;
  opacity: 1;
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}

.PosterBIG.hidden img {
  opacity: 0;
  transform: scale(0.9) translateY(-10px); /* ย่อขนาดและเลื่อนขึ้นเล็กน้อย */
  pointer-events: none; /* ป้องกันการคลิก */
}

.image-container {
  position: relative;
  display: inline-block;
}

.image-container img {
  display: block;
  width: 1470px;
  height: 350px;
  border-radius: 10px;
  pointer-events: none; /* กอปรูปด้านหลังไม่ได้ */
}

.text-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%; /* ให้ข้อความมีความกว้างเต็มภาพ */
  color: #ffffff;
  background: linear-gradient(to right, #669deb2f, #0403122e); /* เพิ่มพื้นหลังเพื่อให้ข้อความชัดเจนขึ้น */
  padding: 10px;
  border-radius: 0 0 10px 10px; /* ให้ขอบมนเฉพาะด้านล่าง */
  font-size: 36px;
  font-style: italic;
  text-align: left;
  box-sizing: border-box;
  font-family: 'pkmaehongson';
}

/* ======================================================================================================
<!-- HTML !-->
<button class="button-85" role="button">Button 85</button>

 CSS */
.button-85 {
  font-size: 26px;
  font-family: 'pkmaehongson';
  font-weight: bold;
  font-style: #000000;  padding: 15px 20px;
  border: none;
  outline: none;
  color: rgb(69, 39, 6);
  background: #FFE2BF;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 20px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #FFE2BF;
  left: 0;
  top: 0;
  border-radius: 10px;
}

/* ===================================================================================== */

.dataAboutME {
  margin: 20px;
  text-align: left;
  flex-direction: column;
  font-size: 19px;
  font-family: 'pkmaehongson';
}

.imgAboutME {
  float:left;
  margin-right: 40px;
  width: 150px;
  height: 150px;
}

@font-face {
  font-family: pkmaehongson;
  src: url(../src/PK-Maehongson-Medium.ttf);
}



/* การปรับแต่งสีแทบ slider */
.volume-slider {
  width: 150px; /* ความกว้างของแทบ */
  appearance: none;
  height: 5px; /* ความสูงของแทบ */
  background: linear-gradient(to right, #2F2E67, #2F2E67); /* สีแทบ (เริ่มจากสีเขียวไปแดง) */
  border-radius: 5px;
  outline: none;
  opacity: 0.3;
  transition: opacity 0.2s ease-in-out;
  position: fixed;
  bottom: 35px;
  margin-left: 15px;
}

.volume-slider:hover {
  opacity: 1;
}

/* การปรับแต่งปุ่มควบคุม slider */
.volume-slider::-webkit-slider-thumb {
  appearance: none;
  width: 10px; /* ขนาดของปุ่มควบคุม */
  height: 10px;
  background-color: #2F2E67; /* สีของปุ่มควบคุม */
  border-radius: 50%; /* ทำให้เป็นวงกลม */
  cursor: pointer;
  transition: background-color 0.3s;
}

.volume-slider::-webkit-slider-thumb:hover {
  background-color: #2F2E67; /* เปลี่ยนสีเมื่อ hover */
}


.audioMain {
  background-color: transparent;
  width: auto;
  border: none;
  color: #ffffff;
  font-size: 20px;
  border-radius: 20px;
}




.audioMain1 {
  background-color: #48ff00;
  width: auto;
  border: none;
  font-size: 29px;
  transition:  0.2s ease-in-out;
  border-radius: 20px;
  position: fixed;
  bottom: 20px;
  left: 20px;
}

.audioMain1:hover {
  box-shadow: 0 0 20px #ffdf80;
}