

.containerEdit {
  background: linear-gradient(180deg, #403ECC 0%, black 58%);
  padding: 10px;
  color: white;
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column; /* จัดเรียงเนื้อหาภายในในแนวตั้ง */
  justify-content: center; /* จัดให้อยู่กลางในแนวตั้ง */
  align-items: center; /* จัดให้อยู่กลางในแนวนอน */
}

.edit-h2 {
  margin-bottom: 70px;
  font-size: 42px;
  font-weight: bold;
  color: white;
}

.form-group {
  width: 700px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.input-group {
  display: flex;
  flex-direction: column;
  width: 45%;
}

label {
  margin-bottom: 5px;
  font-size: 14px;
  text-align: left;
}

/*
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 8px; 
    border-radius: 20px; 
    border: none;
    font-size: 14px; 
    background: white; 
    color: black; 
    
}
*/


.editinformation-button {
  margin-top: 70px;
  padding: 15px 30px;
  background-color: #FFA726;
  border: none;
  border-radius: 20px; /* เพิ่มมุมโค้ง */
  color: white;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 1px 24px rgba(248, 148, 26, 0.7); /* เพิ่มเงาให้ปุ่ม */
  transition: background-color 0.3s ease;
}

.editinformation-button:hover {
  background-color: #FF7F7F;
}



