/* รีเซ็ต margin และ padding ของ body 
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}*/

/* กำหนดความสูงของ container และพื้นหลัง */
.signup-container {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /*background: linear-gradient(to bottom,#403ECC , #192546,#000000 );*/
    width: 100vw;
}
/* กล่องสมัครสมาชิก */
.signup-box {
    z-index: 1;
    border-radius: 20px;
    width: 350px;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.599);
    align-items: center;
    display: flex; /* ใช้ Flexbox */
    flex-direction: column; /* จัดวางในแนวตั้ง */
    align-items: center; /* จัดวางกลางแนวนอน */
    justify-content: center; /* จัดวางกลางแนวตั้ง */
}

/* ส่วนของ h1 */
.signUpHeader {
    font-family: 'pkmaehongson';
    text-align: center;
    margin-bottom: 20px;
    font-size: 50px;
    color: rgb(239, 230, 230);
    font-weight: bold;
}

.labelSignUp{
    align-items: left;
    color: white;
    font-family: 'pkmaehongson';
    font-size: 17px;
}

.form-groupS {
    width: 380px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
    border: 2px solid #969696;
    border-radius: 20px;
  }
/* ปรับช่องกรอกข้อมูล */
.form-groupS input {
    width: 100%;
    border: 2px solid #969696;
    border-radius: 20px;
    box-sizing: border-box;
    text-align: left;
}

/* เมื่อ textbox ถูกโฟกัส */
.form-groupS input:focus {
    background-color: #ffffff; /* พื้นหลังเปลี่ยนเป็นขาว */
    border-color: #403ECC; /* เส้นขอบเปลี่ยนเป็นสีน้ำเงิน */
    outline: none;
}

/* เมื่อ textbox ถูกโฮเวอร์ */
.form-groupS input:hover {
    box-shadow: 0 0px 7px #ffc107;
    outline: none;
}

/* ปุ่มสมัครสมาชิก */
.signup-buttonDIV {
    font-family: 'pkmaehongson';
    width: 100%;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    /* เพิ่มการจัดวางตรงกลาง */
    text-align: center;
}
.signup-button {
    font-family: 'pkmaehongson';
    width: 40%;
    padding: 10px;
    background-color: #ffc107;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 20px;
    margin-top: 10px;
    /* เพิ่มการจัดวางตรงกลาง */
    text-align: center;
    font-weight: bold;
}

/* ปุ่มเมื่อโฮเวอร์ */
.signup-button:hover {
    box-shadow: 0 0px 7px #ff9900;
    outline: none;
}

/* ลิงก์กลับไปที่หน้าเข้าสู่ระบบ */
.login-link {
    display: block;
    margin-top: 20px;
    color: rgb(241, 238, 238);
    text-decoration: none;
    text-align: center;
    font-family: 'pkmaehongson';
    font-size: 20px;
    font-weight: bold;
}

.login-link:hover {
    text-shadow: 0 0px 7px #ffc107;
}

@font-face {
    font-family: pkmaehongson;
    src: url(../src/PK-Maehongson-Medium.ttf);
}