/* รีเซ็ต margin และ padding ของ body */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.textSize {
    font-size: 50px;
    color: rgb(255, 255, 255);
    text-shadow: #000000aa;
    text-shadow: 0 5px 15px rgba(0, 0, 0, 0.651);
}

/* รีเซ็ต margin และ padding ของ container */
.login-container {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom, #000000, #1C1C1C, #403ECC);
}


/* ปรับให้กล่องล็อกอินมีขนาดตามที่ต้องการ */
.login-box {
    width: 350px;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.599);
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);/**/
    text-align: center;
    z-index: 1;
}

/* ส่วนของ h2 */
h2 {
    margin-bottom: 30px;
    font-size: 24px;
    color: black;
    font-family: 'pkmaehongson';
}

/*=====================================================================================*/
/* ปรับช่องกรอกข้อมูล */
.input-field {
    width: 100%;
    padding: 10px;
    margin: 12px 0;
    border: 2px solid #969696;
    border-radius: 20px;
}
/* เมื่อ textbox ถูกโฟกัส */
.input-field:focus {
    background-color: #ffffff; /* พื้นหลังเปลี่ยนเป็นสีน้ำเงินอ่อน */
    border-color: #bf0404; /* เส้นขอบเปลี่ยนเป็นสีน้ำเงิน */
    border: 2px solid #bf0404;
    outline: none;
    
}

.input-field:hover{
    /*opacity: 0.6;
    border-color: #22044d;*/
    box-shadow: 0 0px 7px #bf0404;
    outline: none;
    
}
/*=====================================================================================*/

/* ลิงก์สำหรับลืมรหัสผ่าน */
.forgot-password {
    display: block;
    /*justify-content: right;*/
    text-align: right;
    margin-bottom: 20px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 17px;
    font-family: 'pkmaehongson';
}


/*=====================================================================================*/
/* ปุ่มล็อกอิน */
.login-button {
    width: 70%;
    padding: 10px;
    background-color: #ffc107;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 20px;
    margin-top: 10px;
    font-family: 'pkmaehongson';
}
.login-button:hover{
    box-shadow: 0 0px 7px #ffc107;
    outline: none;
    
}
/*=====================================================================================*/


.colortext {
    color: rgb(255, 255, 255);
    font-size: 80px;
    font-family: 'pkmaehongson';
    text-shadow: 0 5px 15px rgba(0, 0, 0, 0.651);
}



/*=====================================================================================*/
/* ลิงก์สำหรับลงทะเบียน */
.signup-link {
    display: block;
    margin-top: 20px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: 0.8s;
}
.signup-link:hover{
    text-shadow: 0 0px 7px #ffffff;
    outline: none;
    
}
/*=====================================================================================*/

@font-face {
    font-family: pkmaehongson;
    src: url(../src/PK-Maehongson-Medium.ttf);
}


video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 0;
}
@media(min-aspect-ratio: 16/9){
    video{
        width: 100%;
        height: auto;
    }
}